<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiny Library</title>

    <!--Bootstrap CSS and JS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" defer></script>

    <!--custom scripts helper section-->
    {{{_sections.script}}}


    <!--custom favicon-->
    <link rel="icon" href="/img/favicon.ico">


</head>

<body>
    <div class="d-flex flex-column min-vh-100">

        <!-- Bootstrap navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="/">
                <img src="/img/logo-circle.png" width="40" height="40" class="d-inline-block align-top" alt="logo">

                Tiny Library
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>


                    <!--only show custom User nav links if user is logged in -->
                    {{#if user}}

                    <!-- librarian nav links -->
                    {{#if user.isAdmin}}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/loans">Manage Loans</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Inventory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/admin/addbook">Add Books</a>
                            <a class="dropdown-item" href="/admin/editbooks">Update Inventory</a>
                        </div>
                    </li>

                    <!-- only show Book Lists links if user is a patron -->
                    {{else}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            My Books
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/loansandholds">Loans &amp; Holds</a>
                            <a class="dropdown-item" href="/history">History</a>
                            <a class="dropdown-item" href="/favorites">Favorites</a>
                        </div>
                    </li>
                    <!--end of Patron-specific section -->
                    {{/if}}


                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>

                    <!--end of logged-in user section -->

                    <!-- view for unauthenticated user: Login and Register -->
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/Register">Register</a>
                    </li>

                    {{/if}}
                </ul>

                <!--search bar available to all users, including unauthenticated -->
                <form action="/search" class="form-inline my-2 my-lg-0">
                    <input name="phrase" class="form-control mr-sm-2" type="search" placeholder="Search Books"
                        aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>

            </div>
        </nav>

        <main class="flex-fill">
            <div class="container-fluid">

                <!-- flash message for success redirect or invalid input (used on login, register, and admin pages) -->
                {{#if flash}}
                <div class="alert alert-dismissible alert-{{flash.type}}"> <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">&times;</button> {{flash.message}}
                </div>
                {{/if}}


                {{{body}}}


            </div>
        </main>

        <footer class="small text-center bg-light">

            &copy;2022 Hope Asher. Logo &copy;
            <a href="https://commons.wikimedia.org/wiki/File:Book-icon-bible.png">AlekseyP8</a>,
            <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons
        </footer>

    </div>

</body>

</html>